#### Decision tree using the custum class and sklearn
- Data import
- Data preprocessing
- Data visulization (Not in this case)
- Model
-Accuracy

In [1]:
### Data import
import pandas as pd

data_uncleaned = pd.read_csv('Train.csv')
data_uncleaned.head(n=10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.7500,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.0000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.0000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.2500,NaN,Q,16,NaN,NaN
5,2.0,0.0,"Gaskell, Mr. Alfred",male,16.0,0.0,0.0,239865,26.0000,NaN,S,NaN,NaN,"Liverpool / Montreal, PQ"
6,2.0,0.0,"Phillips, Mr. Escott Robert",male,43.0,0.0,1.0,S.O./P.P. 2,21.0000,NaN,S,NaN,NaN,"Ilfracombe, Devon"
7,1.0,1.0,"Leader, Dr. Alice (Farnham)",female,49.0,0.0,0.0,17465,25.9292,D17,S,8,NaN,"New York, NY"
8,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
9,2.0,0.0,"Wheeler, Mr. Edwin ""Frederick""",male,NaN,0.0,0.0,SC/PARIS 2159,12.8750,NaN,S,NaN,NaN,NaN

In [3]:
### Data preprocessing
from sklearn.preprocessing import LabelEncoder ##Convert data to numeric
le = LabelEncoder()

### Remove unwanted columns
columnsToDrop = ['name','ticket','fare','cabin','body','home.dest','embarked','boat']
data_wanted = data_uncleaned.drop(columnsToDrop,axis=1)
data_wanted.head(n=10)

   pclass  survived     sex   age  sibsp  parch
0     3.0       0.0  female   NaN    0.0    0.0
1     2.0       0.0    male  39.0    0.0    0.0
2     2.0       1.0  female  40.0    0.0    0.0
3     3.0       1.0  female  31.0    1.0    1.0
4     3.0       1.0  female   NaN    2.0    0.0
5     2.0       0.0    male  16.0    0.0    0.0
6     2.0       0.0    male  43.0    0.0    1.0
7     1.0       1.0  female  49.0    0.0    0.0
8     1.0       0.0    male  48.0    0.0    0.0
9     2.0       0.0    male   NaN    0.0    0.0

In [4]:
data_wanted.info()
print("\n\n\n")
###Fill the missing data
data_filled = data_wanted.fillna(data_wanted['age'].mean())
data_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 6 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null object
age         812 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
dtypes: float64(5), object(1)
memory usage: 47.4+ KB




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 6 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null object
age         1009 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
dtypes: float64(5), object(1)
memory usage: 47.4+ KB

In [5]:
data_filled['sex'] = le.fit_transform(data_filled["sex"])
data_filled.head(n=10)

   pclass  survived  sex        age  sibsp  parch
0     3.0       0.0    0  29.838978    0.0    0.0
1     2.0       0.0    1  39.000000    0.0    0.0
2     2.0       1.0    0  40.000000    0.0    0.0
3     3.0       1.0    0  31.000000    1.0    1.0
4     3.0       1.0    0  29.838978    2.0    0.0
5     2.0       0.0    1  16.000000    0.0    0.0
6     2.0       0.0    1  43.000000    0.0    1.0
7     1.0       1.0    0  49.000000    0.0    0.0
8     1.0       0.0    1  48.000000    0.0    0.0
9     2.0       0.0    1  29.838978    0.0    0.0

In [15]:
input_cols = ['pclass',"sex","age","sibsp","parch"]
output_cols = ["survived"]

X = data_filled[input_cols]
Y = data_filled[output_cols]

print(X.shape,Y.shape)
print(type(X))

(1009, 5) (1009, 1)
<class 'pandas.core.frame.DataFrame'>

In [18]:
### Model
"""Written by deepanshu garg"""

import numpy as np
def entropy(col):
    """Returns the entropy of the col or Y"""
    ent = 0.0
    counts = np.unique(col,return_counts = True)
    for i in range(len(counts[0])):
        p = counts[1][i]/sum(counts[1])
        ent += -1.0*p*np.log2(p) 
    return ent

def divide_data(data,fval,fcol):
    """Divide the data into two parts"""
    x_right = pd.DataFrame([],columns=data.columns)
    x_left = pd.DataFrame([],columns=data.columns)
    for ix in range(data.shape[0]):
        val = data[fcol].loc[ix]
        if val > fval:
            x_right = x_right.append(data.loc[ix])
        else:
            x_left = x_left.append(data.loc[ix])
    return x_left,x_right

def information_gain(data,fval,fcol):
    """Function return the information gain wrt entropy for the particular col"""
    
    data_left,data_right = divide_data(data,fval,fcol)
    
    l = data_left.shape[0]/data.shape[0]
    r = data_right.shape[0]/data.shape[0]
    
    if data_left.shape[0] == 0 or data_right.shape[0] ==0:
        return -1000000 #Min Information Gain
    
    ig = entropy(data.survived) - (l*entropy(data_left.survived) + r*entropy(data_right.survived))
    return ig

In [38]:
for fx in X.columns:
    print(fx)
    print(information_gain(data_filled,data_filled[fx].mean(),fx))

pclass
0.055456910002982474
sex
0.19274737190850932
age
0.001955929827451075
sibsp
0.006492394392888956
parch
0.01975608012294816

In [39]:
class DecisionTree:
    def __init__(self,depth=0,max_depth=5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self,X_train):
        
        features = ['pclass','sex','age','sibsp', 'parch']
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,X_train[ix].mean(),ix)
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making Tree Features is",self.fkey)
        
        #Split Data
        data_left,data_right = divide_data(X_train,self.fval,self.fkey)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
         
        #Truly a left node
        if data_left.shape[0]  == 0 or data_right.shape[0] ==0:
            if X_train.survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        #Stop earyly when depth >=max depth
        if(self.depth>=self.max_depth):
            if X_train.survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        
        #Recursive Case
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        #You can set the target at every node
        if X_train.survived.mean() >= 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return
    
    def predict(self,test):
        if test[self.fkey]>self.fval:
            #go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [40]:
split = int(0.7*data_filled.shape[0])
train_data = data_filled[:split]
test_data = data_filled[split:]
test_data = test_data.reset_index(drop=True)

In [41]:
print(train_data.shape,test_data.shape)

(706, 6) (303, 6)

In [42]:
dt = DecisionTree()
dt.train(train_data)

Making Tree Features is sex
Making Tree Features is pclass
Making Tree Features is parch
Making Tree Features is pclass
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is age

In [43]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [44]:
y_pred

['Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead']

In [45]:
y_actual = test_data[output_cols]
le = LabelEncoder()
y_pred = le.fit_transform(y_pred)
print(y_pred)

[0 1 0 0 0 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1
 1 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0
 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 1 0 0 0 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0
 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1 1 1 0 0 1 1
 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 1 1 0 1 1 1 1 0 0 0 1 1 0 0 0 0 1 0 0 0
 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0
 0 0 0 1 0 1 0 1 0 0 1 1 1 1 0 0 0 0 0 1 1 0 1 0 1 0 1 1 1 1 1 0 0 1 1 1 0
 1 0 0 1 1 0 0]

In [46]:
y_pred = np.array(y_pred).reshape((-1,1))
print(y_pred.shape)

(303, 1)

In [49]:
acc = np.sum(np.array(y_pred)==np.array(y_actual))/y_pred.shape[0]

In [50]:
acc

0.7458745874587459

In [51]:
### Using sklearn

from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion='gini',max_depth=5)
dt.fit(train_data[input_cols],train_data[output_cols])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [52]:
dt.predict(test_data[input_cols])

array([0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0.,
       0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1.,
       0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1.,
       0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 1.,
       0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 1.,
       1., 0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0.])

In [53]:
dt.score(test_data[input_cols],test_data[output_cols])

0.7821782178217822

In [54]:
### Using ensemble
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10,criterion='entropy',max_depth=5)
rf.fit(train_data[input_cols],train_data[output_cols])

c:\users\deepa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [55]:
rf.score(test_data[input_cols],test_data[output_cols])

0.7755775577557755